.system-style {
  height: 100%;
  position: relative;
  .content {
    // width: calc(100% - 40px);
    // min-height: 798px;
    min-height: calc(100% - 82px);
    // margin-top: 1px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #e4eaee;
    padding: 18px 20px;
    p {
      margin: 0;
      padding: 0;
    }
    p.title {
      width: 100%;
      height: 22px;
      font-size: 16px;
      font-weight: 600;
      color: #333333;
      line-height: 22px;
      margin-bottom: 20px;
    }
    .filter {
      display: flex;
      justify-content: space-between;
      .fx-start {
        height: 36px;
        .quck-filter {
          display: inline-block;
          margin-right: 20px;
          width: 56px;
          height: 36px;
          line-height: 36px;
          font-size: 14px;
          font-weight: 400;
          color: #333333;
          vertical-align: middle;
        }
        .filter-row {
          min-width: 574px;
          position: relative;
          top: -1px;
          & > div {
            width: 198px !important;
            margin-right: 20px;
          }
          & > div:nth-child(2) {
            width: 110px !important;
            margin-left: 0 !important;
          }
          & > div:nth-child(3) {
            margin-left: 0 !important;
            .el-tag {
              max-width: 100px;
            }
          }
          .el-select {
            .el-input {
              border: none;
            }
          }
          .el-select,
          .el-input {
            height: 36px;
            background: #ffffff;
            border-radius: 4px;
            border: 1px solid #e4eaee;
            font-size: 14px;
            font-weight: 400;
            color: #333333;
            .el-input__wrapper {
              border: none;
              box-shadow: none;
            }
          }
          .el-select {
            .el-input {
              border: none;
            }
          }
        }
        .search-btn {
          .el-button {
            min-width: 100px;
            padding-left: 10px;
            padding-right: 10px;
            height: 36px;
            font-size: 16px;
            background: #3576c1;
            border-radius: 4px;
          }
        }
      }
      .filter-operate {
        text-align: right;
        .el-button {
          min-width: 100px;
          padding-left: 10px;
          padding-right: 10px;
          height: 36px;
          background: #ffffff;
          border-radius: 4px;
          border: 1px solid #3576c1;
          font-size: 16px;
          font-weight: 400;
          color: #3576c1;
        }
      }
    }
    .list {
      margin-top: 30px;
      .base-table {
        .el-table {
          border-radius: 4px;
        }
        .el-table td,
        .el-table th {
          border: 1px solid #e4eaee;
          border-right: none;
          border-bottom: 1px solid rgb(0, 0, 0, 0);
        }
        tr:last-child {
          td.el-table__cell {
            border-bottom: 1px solid #e4eaee;
          }
        }
        th.el-table__cell,
        td.el-table__cell {
          padding: 6px 0px;
          text-align: center;
          background: #f7f8fa;
          .cell {
            padding: 0 20px;
          }
        }
        td.el-table__cell {
          // padding: 6px 20px;
          background-color: #fff;
          .delete {
            font-size: 12px;
            color: #ff0000;
            cursor: pointer;
          }
          .update {
            font-size: 12px;
            color: #3576c1;
            cursor: pointer;
          }
        }
        .is-right {
          .cell {
            text-align: right;
          }
        }
        .el-switch__core {
          border: 1px solid rgba(0, 0, 0, 0.02);
          .el-icon {
            font-size: 12px;
          }
        }
      }
    }
  }

  .system-footer {
    position: absolute;
    bottom: -20px;
    left: -20px;
    z-index: 1;
    width: calc(100% + 40px);
    height: 64px;
    background: #ffffff;
    box-shadow: 0px -2px 9px 0px rgba(0, 0, 0, 0.15);
    text-align: right;
    line-height: 64px;
    .el-button,
    .el-button:focus {
      width: 140px;
      height: 36px;
      background: #0076c8;
      border-radius: 4px;
      margin-right: 20px;
    }
    .el-button:first-child,
    .el-button:first-child:hover {
      background: #ffffff;
      border-radius: 4px;
      border: 1px solid #d9d9d9;

      color: #595959;
    }
    .next,
    .next:hover {
      background: #0076c8 !important;
      color: #fff !important;
    }
    .onlysave,
    .onlysave:hover {
      background: #ffffff !important;
      border: 1px solid #0076c8 !important;
      color: #0076c8 !important;
    }
    .prev,
    .prev:hover {
      background: #ffffff !important;
      color: #595959 !important;
      border: 1px solid #d9d9d9 !important;
    }
    .el-button:hover {
      opacity: 0.8;
    }
  }
}
.el-overlay {
  background: rgba(0, 0, 0, 0.15) !important;
}
.system-dialog {
  background: #ffffff;
  box-shadow: 0px 12px 48px 16px rgba(0, 0, 0, 0.03), 0px 9px 28px 0px rgba(0, 0, 0, 0.05),
    0px 6px 16px -8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  .el-dialog__header {
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    padding: 16px 24px;
    margin-right: 0;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    .el-dialog__headerbtn {
      width: auto;
      height: 56px;
      line-height: 56px;
      vertical-align: middle;
      top: 0;
      right: 24px;
    }
    .el-dialog__close {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.45);
    }
  }
  .el-dialog__body {
    padding: 0 24px;
    margin-bottom: 24px;
  }
  .el-dialog__footer {
    height: 52px;
    padding: 10px 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    .el-button,
    .el-button:hover {
      width: auto;
      height: 32px;
      padding: auto 16px;
      margin-left: 8px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.85);
      border-radius: 4px;
      background: #fff;

      border: 1px solid #d9d9d9;
    }
    .el-button--primary,
    .el-button--primary:hover {
      background: #0076c8;
      color: #fff;
      border: none;
    }
  }

  .el-form {
    .el-form-item {
      display: block;
      margin-bottom: 24px;
      .el-form-item__label {
        justify-content: start;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        text-align: left;
      }
      .el-form-item__content {
        .el-input,
        .el-select {
          height: 36px;
          background: #ffffff;
          border-radius: 4px;
          border: 1px solid #e4eaee;
          .el-input__wrapper {
            box-shadow: none;
          }
        }
        .el-select {
          width: 100%;
          border: none;
        }
      }
    }
  }
}

.system-dialog1 {
  .el-dialog__body {
    padding: 0px 50px;
  }
}
.el-form {
  .el-form-item.email {
    display: inline-block !important;
    width: 65.5%;
    :deep(.el-form-item__content) {
      gap: 30px;
    }
    .el-input:first-child {
      flex: 2.125;
      .el-input-group__append {
        padding: 0;
        border: none;
        box-shadow: none;
        height: 34px;
        line-height: 34px;
        border-radius: 0 4px 4px 0;
        span {
          display: inline-block;
          width: 70px;
          text-align: center;
          height: 100%;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px;
          font-weight: 400;
        }
        .send {
          background: #3576c1;
          color: #fff;
          cursor: pointer;
        }
        .cutdown {
          cursor: no-drop;
          background-color: #eee;
        }
      }
    }
    .el-input:nth-child(2) {
      flex: 1;
    }
  }
  .el-form-item.emailCode {
    display: inline-block !important;
    width: calc(34% - 31px);
    margin-left: 30px;
    vertical-align: top;
    .el-form-item__content {
      margin-left: 0 !important;
      width: 100%;
      padding-top: 32px;
    }
  }
  .addressNumber {
    margin-top: -10px;
    .el-form-item__label:before {
      display: none;
    }
    .el-form-item__content {
      margin-left: 0 !important;
    }
  }
}
p {
  margin: 0;
  padding: 0;
}
.float-right {
  float: right;
}
.cursor-pointer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.applyFormContainer {
  // width: 1520px;
  // height: 332px;
  background: #f6f7f9;
  border-radius: 4px;
  margin-top: 20px;
  padding: 20px 50px 20px 50px;
  .el-form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px 80px;
    .el-form-item {
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      position: relative;
      .desc {
        position: absolute;
        top: -32px;
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        left: 110px;
        width: 72%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .el-form-item__label {
        display: block;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: #333;
      }
      .el-form-item__content {
        display: block;
        width: 100%;
        .el-select,
        .el-input {
          width: 100%;
          height: 36px;
        }
        .el-input__wrapper {
          padding: 3px 11px;
          border-radius: 4px;
          border: 1px solid #e4eaee;
          box-shadow: none;
          .el-input__inner {
            border: none;
          }
        }
        p.error {
          font-size: 12px;
          line-height: 15px;
          margin: 0;
          margin-top: 5px;
        }
      }
    }
  }
}
.error {
  font-size: 16px;
  font-weight: 400;
  color: #ff0000;
}
.el-backtop {
  display: none !important;
}
.float-right-edit {
  float: right;
  font-size: 16px;
  font-weight: 500;
  color: #0076c8;
  cursor: pointer;
}
.is-left {
  .cell {
    text-align: left;
  }
}
